@use "../styles/colors";

//TODO: Remove redundant scss
//TODO: Alter button handling
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: colors.$background-color-primary;
  color: colors.$text-color-primary;
  font-size: 1rem;
}



.info-objects,
.form-container {
  background-color: colors.$background-color-secondary;
  padding: 20px;
  border-radius: 8px;
  color: colors.$text-color-primary;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.info-objects {
}

.form-container {
  justify-content: start;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 50%;
}

.form__label,
input[type="text"],
textarea,
input[type="submit"] {
  display: block;
  margin-bottom: 5px;
  color: colors.$text-color-secondary;
  width: 100%;
}

input[type="text"],
textarea,
input[type="submit"] {
  padding: 0.5rem;
  margin: 0.7rem 0;
  background-color: colors.$background-color-tertiary;
  border: 2px solid colors.$border-color-primary;
  font-size: 1rem;
  border-radius: 4px;
  color: colors.$text-color-primary;
}

textarea {
  height: 10rem;
}

input[type="submit"] {
  background-color: colors.$button-background-color;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: colors.$button-hover-background-color;
  color: #daf7dc;
}


