*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  width: 100%;
  max-height: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 5px; // Consistent margin-bottom with .form-container
  color: #ccc; // Grey color for a lighter tone
  width: 100%;
}

.form-input,
.form-textarea {
  padding: 0.5rem; // Padding to match .form-container
  background-color: #222; // Darker background
  border: 2px solid #444; // Solid border with a slightly lighter tone
  font-size: 1rem;
  border-radius: 4px;
  color: #ddd; // Light grey text
  width: 100%; // Full-width inputs
}

.form-textarea {
  height: 10rem; // Set specific height for textarea
}

.form-button {
  padding: 0.5rem;
  margin-bottom: auto;
  background-color: #146c43; // Primary button color
  border: 2px solid #444; // Consistent with other inputs
  font-size: 1rem;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

.form-button:hover,
.form-button:active {
  background-color: #198754; // Lighter green on hover
  color: #daf7dc; // Very light green text on hover
}

@media (max-width: 1000px) {
  .form {
    flex-direction: column; // Ensures the flex direction is column on smaller screens
    width: 100%; // Full width on smaller screens
  }
}
