events {}
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    root /usr/share/nginx/html;

    server {
        listen 80;
        server_name localhost;

        location /$IMAGE_NAME/app {
            try_files $uri $uri/ /index.html;
        }

        location /$IMAGE_NAME/ {
            alias /usr/share/nginx/html/;
            try_files $uri $uri/ =404;
        }
    }
}
