@use "./app/styles/design-variables";
html {
  font-size: design-variables.$font-size-base;
}

@media (max-width: design-variables.$breakpoint-sm) {
  html {
    font-size: design-variables.$font-size-large;
  }
}

@media (max-width: design-variables.$breakpoint-xs) {
  html {
    font-size: design-variables.$font-size-extra-large;
  }
}
