@use "../../../styles/colors";
@use "../../../styles/design-variables";
@import "https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/a11y-dark.min.css";

.code-container {
  background-color: colors.$background-color-primary;
  border-radius: design-variables.$border-radius-large;
  border: 3px solid colors.$border-color-primary;
  padding: 0.4rem 0 0 0;
  font-size: 0.85rem;
  color: colors.$text-color-primary;
  margin: 1rem 0;
  overflow: hidden;
}

.code-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.code-container__language-label {
  margin-left: 0.75rem;
  color: colors.$text-color-header;
  font-weight: bold;
}

.code-container__button {
  padding: 0.4rem 0.6rem;
  margin-right: 0.75rem;
  font-size: 0.8rem;
  background-color: transparent;
  color: colors.$text-color-primary;
  border: 3px solid colors.$border-color-primary;
  border-radius: design-variables.$border-radius-base;
  cursor: pointer;
  outline: none;
  transition: backgrond-color 1s ease-in;
  flex-grow: 1;
  max-width: 7rem;
  &:hover {
    background-color: darken(colors.$border-color-primary, 10);
    border-color: lighten(colors.$border-color-primary, 10);
    transition: backgrond-color 1s ease-in;
  }
}

.code-container__pre {
  margin: 0;
  overflow: auto;
  background-color: colors.$background-color-tertiary;
}

.code-container__code {
  display: block;
}
