// TODO Add box shadow to common library
// TODO: Add animation for tab switch
@use "../../../../styles/colors";
@use "../../../../styles/design-variables";

.todo {
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    color: colors.$text-color-primary;
    font-size: 1.5rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    min-height: 4rem;
  }

  &__list-item {
    background-color: colors.$background-color-secondary;
    margin-bottom: 0.7rem;
    padding: 0.7rem 1rem;
    border-radius: design-variables.$breakpoint-md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &--input-text {
      flex-grow: 1;
      background-color: colors.$background-color-tertiary;
      border: none;
      color: colors.$text-color-primary;
      padding: 0.5rem 0.6rem;
      font-size: 1rem;
      width: 100%;
      text-overflow: ellipsis;
      border-radius: design-variables.$border-radius-large;
      margin-right: 0.6rem;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(colors.$accent-color, 0.5);
      }
    }

    &--checkbox {
      accent-color: colors.$accent-color;
      transform: scale(1.5);
      margin-right: 0.6rem;
      order: -1;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: rgba(244, 67, 54, 0.2);
      transform: scale(1.1);
    }

    &--danger {
      .todo__icon {
        fill: colors.$text-color-primary;
        transition: fill 0.3s;
      }

      &:hover {
        .todo__icon {
          fill: darken(colors.$text-color-primary, 20%);
        }
      }
    }
  }
  &__add-button {
    background-color: colors.$accent-color;
    color: colors.$background-color-primary;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: design-variables.$border-radius-base;
    border: 2px solid darken(colors.$accent-color, 20%);
    cursor: pointer;

    &:hover {
      background-color: darken(colors.$accent-color, 15%);
      border-color: lighten(colors.$accent-color, 10%);
    }
  }
}

.todo__list-item--placeholder {
  background-color: darken(colors.$background-color-secondary, 10%);
  border: dashed 2px colors.$accent-color;
  opacity: 0.5;
}
