<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(title = 'Information Objects', content = ~{::section})}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <section th:fragment="content">
        <div>
            <!-- Thymeleaf for iterating over comments -->
            <p>ffff</p>
            <div th:each="infoObject : ${infoObjects}">
                <div>
                    <p th:text="${infoObject.content}">Comment content</p>
                    <!-- Other comment fields -->
                </div>
            </div>
            <!-- Form for new comments, searching by tag, etc. -->
        </div>
    </section>
</div>
</body>
</html>