<div class="tab-container">
  <button
    class="tab-container__tab"
    (click)="setActiveFormType(FormType.textForm)"
    [class.active]="activeFormType === FormType.textForm"
  >
    Text Form
  </button>
  <button
    class="tab-container__tab"
    (click)="setActiveFormType(FormType.todoForm)"
    [class.active]="activeFormType === FormType.todoForm"
  >
    Todo Form
  </button>
  <button
    class="tab-container__tab"
    (click)="setActiveFormType(FormType.markdownForm)"
    [class.active]="activeFormType === FormType.markdownForm"
  >
    Markdown Form
  </button>
</div>
<div class="new-infoobject-container">
  <app-infoobject-form [formType]="activeFormType"></app-infoobject-form>
</div>
