<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>LAN Communication</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link
      th:href="@{/web-components/angular-elements/styles.css}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript
      ><link
        th:href="@{/web-components/angular-elements/styles.css}"
        rel="stylesheet"
    /></noscript>
    <script
      th:src="@{/web-components/angular-elements/polyfills.js}"
      type="module"
    ></script>
    <script
      th:src="@{/web-components/angular-elements/main.js}"
      type="module"
    ></script>
    <script th:src="@{/js/copyToClipboard.js}"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div
        class="info-objects"
        hx-get=""
        hx-trigger="every 60s"
        hx-target="#hx-swappable"
        hx-swap="outerHTML"
        hx-select="#hx-swappable"
      >
        <div id="hx-swappable">
          <form th:action="@{/}" method="get">
            <input
              type="text"
              name="tag"
              placeholder="Search by tag..."
              th:value="${tag}"
            />
            <input type="submit" value="Search" />
          </form>

          <div>
            <strong>Available Tags:</strong>
            <span th:each="uniqueTag : ${uniqueTags}">
              <a
                th:href="@{|/info-object?tag=${uniqueTag}|}"
                th:text="${uniqueTag}"
              ></a>
            </span>
          </div>

          <div id="last-reload-time">Last log load: [[${currentDateTime}]]</div>
          <div th:each="infoObject : ${infoObjectsPage.content}">
            <info-objects-details th:attr="infoobject-id=${infoObject.id},
            edit-url=@{/info-object/__${infoObject.id}__},
            content=${infoObject.content},
            delete-url=@{/info-object/__${infoObject.id}__},
            topic=${infoObject.topic}, author-ip=${infoObject.authorIp},
            tag=${infoObject.tag}," dialogue-content='Example Dialogue',
            infoobject-inks=['link1', 'link2'], todo-content='Example Todo'
            ><info-objects-details> </info-objects-details>
          </div>
        </div>

        <div class="pagination">
          <a
            th:if="${infoObjectsPage.hasPrevious()}"
            th:href="@{|/info-object?page=0&tag=${tag}|}"
            >&laquo; first</a
          >
          <a
            th:if="${infoObjectsPage.hasPrevious()}"
            th:href="@{|/info-object?page=${infoObjectsPage.number - 1}&tag=${tag != null ? tag : ''}|}"
            >previous</a
          >
          <span
            >Page [[${infoObjectsPage.number + 1}]] of
            [[${infoObjectsPage.totalPages}]].</span
          >
          <a
            th:if="${infoObjectsPage.hasNext()}"
            th:href="@{|/info-object?page=${infoObjectsPage.number + 1}&tag=${tag != null ? tag : ''}|}"
            >next</a
          >
          <a
            th:if="${infoObjectsPage.hasNext()}"
            th:href="@{|/info-object?page=${infoObjectsPage.totalPages - 1}&tag=${tag != null ? tag : ''}|}"
            >last &raquo;</a
          >
        </div>
      </div>

      <div class="form-container">
        <form
          th:action="@{/info-object}"
          th:object="${infoObjectDto}"
          method="post"
          class="form-container__form"
        >
          <div class="form-section">
            <label for="topic" class="form__label">Topic:</label>
            <input
              type="text"
              id="topic"
              th:field="*{topic}"
              placeholder="Enter Topic"
              class="form__input"
            />
            <div
              th:if="${#fields.hasErrors('topic')}"
              th:errors="*{topic}"
              class="error-message"
            >
              Topic Error
            </div>
          </div>
          <div class="form-section">
            <label for="tag" class="form__label">Tag:</label>
            <input
              type="text"
              id="tag"
              th:field="*{tag}"
              placeholder="Enter Tag"
              class="form__input"
            />
            <div
              th:if="${#fields.hasErrors('tag')}"
              th:errors="*{tag}"
              class="error-message"
            >
              Tag Error
            </div>
          </div>
          <div class="form-section">
            <label for="content" class="form__label">Content:</label>
            <textarea
              id="content"
              th:field="*{content}"
              placeholder="Enter Content"
              class="form__textarea"
            ></textarea>
            <div
              th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}"
              class="error-message"
            >
              Content Error
            </div>
          </div>
          <input type="submit" value="Submit InfoObject" class="form__input" />
        </form>
      </div>
    </div>
  </body>
</html>
