<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit Comment</title>
</head>
<body>
<div>
    <form th:action="@{/info-object}" th:object="${infoObjectDto}" method="post">
        <div>
            <label for="content">Content:</label>
            <textarea id="content" th:field="*{content}" required></textarea>
        </div>
        <div>
            <label for="topic">Topic:</label>
            <input id="topic" type="text" th:field="*{topic}" />
        </div>
        <div>
            <label for="tag">Tag:</label>
            <input id="tag" type="text" th:field="*{tag}" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>