$background-color-primary: #1a1a1a;
$text-color-header: #adbcff;
$text-color-primary: #f5f5f5;
$text-color-secondary: #ccc;
$background-color-secondary: #333;
$background-color-tertiary: #222;
$border-color-primary: #444;
$button-background-color: #146c43;
$button-hover-background-color: #198754;
$button-border-color: #4caf50;

$copy-button-background-color: #7c87a3;
$copy-button-hover-background-color: #637291;
$copy-button-active-background-color: #4a566b;
$copy-button-border-color: #657191;
$copy-button-hover-border-color: #505c75;
$copy-button-active-border-color: #404c61;

$error-color: #ff6347;
$border-color-editable: #6290c8;

:host {
  font-family: "Courier New", Courier, monospace;
  color: $text-color-primary;
  font-size: 1rem;
}

@mixin button-style($background-color, $hover-bg-color, $border-color) {
  background-color: $background-color;
  color: $text-color-primary;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid $border-color;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 $border-color;
  outline: none;
  min-width: 120px;
  &:hover {
    background-color: $hover-bg-color;
    box-shadow: inset 0 0 0 2px $border-color;
    color: #daf7dc;
  }
  &:active {
    background-color: $hover-bg-color;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
  background-color: #2a2a2a;
  gap: 20px;
}

.info-objects,
.form-container {
  background-color: $background-color-secondary;
  padding: 20px;
  border-radius: 8px;
  color: $text-color-primary;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.info-objects {
  width: 70%;
  margin-right: 10px;
}

.form-container {
  justify-content: start;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 50%;
}

.form-container__form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  color: $text-color-secondary;
  width: 100%;
}

.form__input[type="text"],
.form__textarea {
  padding: 0.5rem;
  margin: 0.7rem 0;
  background-color: $background-color-tertiary;
  border: 2px solid $border-color-primary;
  font-size: 1rem;
  border-radius: 4px;
  color: $text-color-primary;
  width: 100%;
}

.form__textarea {
  height: 10rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  justify-content: end;
  gap: 25px;
}

button,
.form__input[type="submit"],
.copy-button,
.remove-button {
  @include button-style(
    $button-background-color,
    $button-hover-background-color,
    $button-border-color
  );
}

.copy-button {
  @include button-style(
    $copy-button-background-color,
    $copy-button-hover-background-color,
    $copy-button-border-color
  );
}

.remove-button {
  @include button-style(#a52a2a, #8b1a1a, #ff6347);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.info-object-tag {
  background-color: #444;
  color: #9acd32;
  padding: 3px 8px;
  margin-top: 10px;
  border: 1px solid $border-color-primary;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: fit-content;
  align-self: flex-start;
}

.content {
  white-space: pre-wrap;
  user-select: text;
}

@media (max-width: 1000px) {
  :host {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
    width: 100%;
  }
  .remove-button {
    font-size: 2rem;
    width: 100%;
  }
}

.spinner {
  margin: 0.2rem;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid $text-color-secondary;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[readonly],
textarea[readonly] {
  background-color: #ccc;
  cursor: not-allowed;
}

input,
textarea {
  background-color: #fff;
  cursor: text;
}

.editable-input {
  background-color: #fff;
  border: 2px solid $border-color-editable;
  &:focus {
    border-color: darken($border-color-editable, 10%);
  }
}

.info-object-card {
  background-color: #252525;
  border: 1px solid $border-color-primary;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .form-group {
    margin-bottom: 10px;
    input,
    textarea {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 4px;
      color: $text-color-primary;
    }
  }
}
