@if (isVisible){
<div class="info-object-card">
  <div class="header-container">
    <div>
      <h4>Author: {{ authorIp }}</h4>
      <h5 *ngIf="topic">Topic: {{ topic }}</h5>
    </div>
    <div *ngIf="tag">
      <span class="info-object-tag">Tag: {{ tag }}</span>
    </div>
  </div>
  <p class="content">{{ content }}</p>
  <app-infoobject-todo-preview [todos]="todos"></app-infoobject-todo-preview>
  <div class="button-container">
    @if (content !== '') {
    <button class="copy-button" (click)="copyToClipboard(content)">
      {{ buttonText }}
    </button>
    }
    <div class="action-buttons">
      <button (click)="openEditModal()">Edit</button>
      <button class="remove-button" (click)="deleteInfoObject()" [disabled]="isDeleting">
        <ng-container *ngIf="!isDeleting && !deleteError">{{
          deleteButtonText
          }}</ng-container>
        @if (isDeleting){
        <span class="spinner"></span>
        }
        <ng-container *ngIf="deleteError">{{ deleteError }}</ng-container>
      </button>
    </div>
  </div>
</div>
<app-infoobject-edit-modal [infoObjectId]="infoobjectId" [content]="content" [topic]="topic" [tag]="tag" [todos]="todos"
  [isVisible]="isEditModalOpen" (close)="isEditModalOpen = false" (save)="handleSave($event)">
</app-infoobject-edit-modal>

}